@import url("./font.css");

.cta-bottom {
  cursor: pointer;
  font-family: Pretendard-Regular;
  font-size: 16px;
  font-weight: 500;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 20px;
}
